# Restaurant Reviews (NLP model)

In [1]:
# Import necessary libraries

import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt 
%matplotlib inline

# make with this report 
import pandas_profiling

# gnore all warnings
import warnings

# Ignore all warnings
warnings.filterwarnings("ignore")


# columns transformer 
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline



# Alogrithim 
# Alogrithim 
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier



# Hyperpearmeter turning 
from sklearn.model_selection import RandomizedSearchCV
from sklearn.ensemble import RandomForestClassifier


from sklearn.model_selection import train_test_split, GridSearchCV


# text preprocessing 
import re
import string
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

## model accuary metrices 
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, precision_score, recall_score, f1_score


## dorp the model in pickle 
import pickle

import mlflow
from mlflow.models import infer_signature

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17404\2154827276.py:10: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  import pandas_profiling

Load the data

In [8]:
# Define column names
restaurant_reviews = pd.read_csv("D:\\Restaurant-Reviews\\data\\Restaurant_Reviews.tsv", delimiter='\t')
restaurant_reviews.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

To generate a report of the restaurant_reviews data using Pandas Profiling

In [13]:
from pandas_profiling import ProfileReport  # Ensure you have this library installed


profile = ProfileReport(restaurant_reviews, title="Pandas Profiling Report", explorative=True)

# Generate the report
profile.to_file("report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
restaurant_reviews.shape

(1000, 2)

In [15]:
restaurant_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  1000 non-null   object
 1   Liked   1000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 15.8+ KB

In [16]:
restaurant_reviews.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1

In [28]:
## checking the values of the data
null_values = restaurant_reviews.isnull().sum()

print(f"null values: \n {null_values}")

null values:
 Review    0
Liked     0
dtype: int64

In [32]:
# Check for duplicate rows in the entire dataframe
duplicates = restaurant_reviews[ restaurant_reviews.duplicated() ]

# If you want to check the number of duplicates
num_duplicates = restaurant_reviews.duplicated().sum()

print("Number of duplicate rows:", num_duplicates)

Number of duplicate rows: 4

In [33]:
# Remove duplicate rows
restaurant_reviews = restaurant_reviews.drop_duplicates()

In [34]:
# If you want to check the number of duplicates
restaurant_reviews.duplicated().sum()

np.int64(0)

In [35]:
restaurant_reviews.head()

                                              Review  Liked
0                           Wow... Loved this place.      1
1                                 Crust is not good.      0
2          Not tasty and the texture was just nasty.      0
3  Stopped by during the late May bank holiday of...      1
4  The selection on the menu was great and so wer...      1